body {
	font-family: "Roboto", arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
	background-color: #eeeeee;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.header-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 505px;
}

.header-navigation__img:hover {
	opacity: 0.8;
}

.header-navigation__img:active {
	opacity: 0.3;
}

.header-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 440px;

	margin-right: 82px;
	margin-top: 12px;
}

.header-menu__link {
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.header-menu__link:hover {
	color: #fb565a;
}

.header-menu__link:active {
	color: #000000;
	opacity: 0.3;
}

.header-user-menu {
	margin-top: 12px;
}

.service {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service__item {
	width: 300px;
	margin-right: 60px;
}

.service__item-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
	margin-top: 18px;
}

.service__item-description {
	margin: 0;
	padding: 0;
	margin-top: 16px;
	color: #283136;
}

.button {
	display: inline-block;
	box-sizing: border-box;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	padding-top: 16px;
	padding-bottom: 16px;

	background-color: #fb565a;
	border-radius: 4px;
}

.service__button {
	padding-left: 40px;
	padding-right: 40px; 
	margin-top: 32px;
}

.slider__button:hover,
.map-contacts__button:hover,
.catalog-shop__button:hover,
.service__button--red:hover {
	background-color: #e74246;
}

.slider__button:active,
.map-contacts__button:active,
.catalog-shop__button:active,
.service__button--red:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

.service__button--green {
	background-color: #00ca74;
}

.service__button--green:hover {
	background-color: #00bc6c;
}

.service__button--green:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
}

.service__button--yellow {
	background-color: #efc84a;
}

.service__button--yellow:hover {
	background-color: #eab534;
}

.service__button--yellow:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
}

.about {
	display: flex;
	justify-content: space-between;
	margin-top: 156px;
	margin-bottom: 90px;
}

.about-us {
	width: 660px;
}

.about-us__title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.about-us__description {
	margin: 0;
	padding: 0;
	margin-top: 33px;
	margin-bottom: 39px;

	color: #283136;
}

.about-us__sub-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

.about-stats {
	width: 360px;
}

.about-stats__img {
	margin-top: -34px;
	margin-bottom: 29px;
}

.list {
	margin-left: 36px;
	margin-top: 27px;
}

.list__item {
	line-height: 18px;
	margin-bottom: 30px;
	color: #283136;
}

.table__caption {
	font-weight: 700;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

.table__row {
	margin: 0;
	padding: 0;
}

.table__header {
	line-height: 18px;
	font-weight: 400;
	color: #283136;

	margin: 0;
	padding: 0;
}

.table__stat {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000000;
}

.table__percent {
	line-height: 45px;
}

.partners {
	margin-bottom: 113px;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.partners-list__item {
	width: 260px;
}

.partners-list__img {
	opacity: 0.2;
}

.partners-list__img:hover {
	opacity: 1;
}

.partners-list__img:active {
	opacity: 0.2;
}

.map {
	height: 417px;

	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eeeeee;
}

.map-box {
	padding-top: 55px;
}

.map-contacts {
	width: 320px;

	padding-top: 48px;

	background-color: #ffffff;
}

.map-contacts__title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;

	margin: 0;
	margin-left: 50px;
    padding: 0;
}

.map-contacts--text {
	font-size: 16px;
	line-height: 18px;
	color: #666666;

	margin: 0;
	margin-left: 52px;
    margin-top: 23px;
}

.map-contacts__phone {
	margin-top: 18px;
}

.button--border {
	border: none;
	cursor: pointer;
}

.map-contacts__button {
	margin-top: 37px;
	margin-left: 50px;
	margin-bottom: 47px;
	padding-left: 45px;
    padding-right: 45px;

}

.footer-social {
	display: flex;
	margin-top: 68px;
}

.social {
	display: flex;
	justify-content: space-between;
	width: 260px;

	margin-right: 140px;
}

.social__link {
	display: flex;
	align-items: center;
  	justify-content: center;
	width: 79px;
	height: 79px;

	background-color: #e1e1e1;
	border-radius: 50%;
}

.social__link:hover {
	background-color: #e74246;
}

.social__link:active {
	background-color: #d7373b;
}

.social__link:active .social__svg {
	opacity: 0.3;
}

.friend {
	margin-top: 6px;
}

.friend__title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.friend__sale {
	font-size: 16px;
	line-height: 22px;
	color: #444444;

	margin: 0;
	margin-top: 10px;
}

/*========================================CATALOG============================================*/

.header--catalog {
	margin-bottom: 0px;
}

.header-catalog {
	padding-bottom: 108px;
}

.catalog-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;

	margin-top: 71px;
}

.catalog-main {
	display: flex;
	justify-content: space-between;
}

.catalog-fieldset {
	border: none;
	margin: 0;
	margin-top: 55px;
	padding: 0;
}

.catalog-grid--flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 120px;

    margin-top: 8px;
    margin-left: 36px;
}

.catalog-fieldset__legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;

	text-transform: uppercase;
}

.catalog--special {
	margin-top: 34px;
}

.catalog-special--flex {
	display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 200px;
    margin-top: 6px;

    margin-left: 36px;
}

.catalog-radio {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}

.catalog-checkbox {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}

.catalog-form__button {
	color: #000000;
	text-transform: uppercase;

	margin-top: 40px;
    padding-left: 89px;
    padding-right: 89px;

	background-color: #eeeeee;
}

.catalog-form__button:hover {
	background-color: #dfdfdf;
}

.catalog-form__button:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.catalog-sort__title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

.catalog-sort-list__item {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	margin-left: 25px;
}

.catalog-right {
	width: 760px;

	margin-top: 58px;
}

.catalog-sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.catalog-sort-list--main {
	margin-left: 202px;
}

.catalog-sort-list {
	display: flex;
	justify-content: space-between;
}

.catalog-shop {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-shop__item {
	width: 360px;
	margin-top: 30px;
}

.catalog-shop__item:nth-child(-n+2) {
	margin-top: 0;
}

.catalog-shop__hover {
	background-color: #eeeeee;
}

.catalog-shop__img {
	display: block;
}

.catalog-shop__title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;

	margin: 0;
}

.catalog-shop__about {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.pagination__link {
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;

	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination__link:hover {
	background-color: #dfdfdf;
}

.pagination__link:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

/*=======================range=======================*/

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls .price-controls__label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls .price-controls__input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}